$background: #efefef;
$lfs-blue: #006ac6;
$lfs-yellow: #fab700;
$lfs-grey: #75787b;

.card-dashboard{
    margin: 10px;
    color:$lfs-blue;
    height: 4rem;
    width: 15rem;
    align-items: center;
    justify-content: center;

}
.card-span{
    align-items: center;
}