.sidebar {
    margin: 0;
    padding: 0;
    width: 220px;
    background-color: #52688e;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  .sidebar img{
    margin: 2px;
    height: 46px;
    width: 20%;
  
  }
  .img-text{
    color: white;
  }
  
  .sidebar a {
    display: block;
    color: rgb(216, 215, 215);
    padding: 16px;
    text-decoration: none;
  }
  
  .sidebar a.active {
    background-color: #333F54;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }